<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780939571360-454n8r1ctc6uoojd8e0bp0g11in76ecp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780939571360-454n8r1ctc6uoojd8e0bp0g11in76ecp</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ99lPCTvzuwY-GossjXuHkhajbfRwEjg</string>
	<key>GCM_SENDER_ID</key>
	<string>780939571360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goeat.FCM-example</string>
	<key>PROJECT_ID</key>
	<string>fcm-example-94690</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-example-94690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780939571360:ios:5c594b55c3df68f340d9c5</string>
</dict>
</plist>